body {
	margin: 0;
	padding: 0;
}

header {
	font-size: 24px;
	line-height: 100px;
	height: 100px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	background-color: pink;
	h1 {
		text-align: center;
		margin: 0 auto;
		width: 80vw;
	}
}
.container {
	margin: 0 auto;
	text-align: center;

	#mama {
		height: 30%;
		width: 30%;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
	}
	#boy {
		height: 200px;
		width: 200px;
	}
	#girl {
		height: 200px;
		width: 200px;
	}
	span {
		color: red;
		font-weight: bold;
		font-size: 40px;
	}
}
